# FAEN API Configuration
FAEN_API_URL=https://datacellarvcapi.test.ctic.es
FAEN_USERNAME=datacellar.developer
FAEN_PASSWORD=D2vAy4Zt2Ctn2q6ZyB
CDE_API_URL=https://ctic.dcserver.cticpoc.com/cde
#CDE_API_URL=http://localhost:5000
